<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Customer registered</title>
</head>
<body>
<h3>The customer is registered</h3>

First name : <span th:text="${customer.firstName}"/> <br>
Last name : <span th:text="${customer.lastName}"/><br>
Free passes: <span th:text="${customer.freePasses}"/><br>
Postal code : <span th:text="${customer.postalCode}"/><br>
Course Code: <span th:text="${customer.courseCode}"/>
</body>
</html>
